body{
	margin: 0px;
	padding: 0px
}

#head-inner-1, #head-inner-2 {
                background-color: #333;
                color: #fff;
                padding: 250px 20%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            
                
            }

.purchase-container{
    padding: 20px 0;
}

a:link{
	text-decoration: none
}

nav li a:link{
    color: #fff;
}

nav li a:hover{
    color: #fff;
    background-color: #000;
}

nav li a:visited{
    color: #fff;
}
nav li a:active{
    color: red;
    background-color: #000;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 100px;
}

.logo{
    color: brown;
    font-weight: 900;
    font-size: 1.5em;
}
.menu{
    color: #fff;
}


#head-inner-1{
    background-image: url(images/blouse-2597205_1920.jpg);
}
#head-inner-2{
    background-image: url(images/mannequins-2619624_640.jpg);
}
#head-inner-1 h1, #head-inner-2 h1, .about-header h1{
    margin-bottom: 20px;
}
    .who-we-are{
    text-align: center;
    color: brown;
    background-color: #eee;
    margin-top: 70px
}

.our-process [class^=col]{
    background-color: rgb(0, 0, 0, 0.4);
    padding: 20px;
}
.our-process{
    background-color: #eee;
    background-image: url(images/uniqlo-1737663_1920.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.our-process h2 {
    color: brown;
}
.our-process p, .our-process h5{
    color: #fff;
}
.our-process i{
    color: brown;
    font-weight: 600;
}
.our-process i{
    color: brown;
    font-size: 20px;
    border: 2px solid brown;
    padding: 10px;
    background-color: #fff;
    border-radius: 50px;
}
#who-we-are p{
    font-size: 20px;
}

section{
    padding-top: 50px;
    padding-bottom: 30px;
}
            
.post{
    padding: 200px;
    background-image: url(images/bezel-1560605_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.back{
    position: absolute;
    top: 30px;
    left: 50px;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 100%;
}
.footer{
    padding: 30px;
    color: #fff;
    background-color: #333;
}
.footer a:link{
	color: #fff;
	text-decoration: none
}
.footer a:hover{
	color: orangered
}
.footer i{
	color: #fff;
	font-size: 25px;
	font-weight: 600;
}
.footer i:hover{
	color: #ccc
}
.copywrite{
    margin-bottom: 0px;
    padding: 5px;
}
.cloth img{
    height: 200px;
}
.shoe img{
    height: 200px;
}
.hat img{
    height: 180px
}
.trends img{
    height: 200px;
    align-self: center;
}

.trends{
    background-color: #eee;
}

[class^=col-]{
    margin-bottom: 20px
}
.testimonial .card{
    width: 50%;
    margin-left: 25%;
}

.testimonial{
    background-color: brown;
    background-image: url(images/store-984393_1920.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.black{
    color: #fff;
    background-color: #000;
    border: 0px;
    padding: 5px 30px;
    border-radius: 50px;
}
.black:hover{
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
}
.choose-serve{
    background-color: rgb(165, 42, 42, 0.9);
    color: #fff;
}

.act-btn{
    background-color: brown;
    color: #fff;    
}
act-btn:hover{
    background-color: rgb(165, 42, 42, 0.4);
    color: #fff;
}

.card:hover .card-body{
    background-color: #eee;
    color: #a52a2a;
}
.card:hover .card-img-top{
    opacity: 0.8;
}

/* other styling to home page */


.product-banner img{
    height: 400px;
    width: 80%;
	margin-right: auto;
}
.banner-text button{
    margin-top: 60px;
    border-radius: 50px;
    background-color: brown;
    color: #fff;
}
.banner-text{
    padding: 70px 0px;
    
}
.home-article{
    padding: 10px 30px;
    margin-top: 50px
}
.zero-review{
    position: relative;
    
}

.zero-review p span{
    position: absolute;
    right: 0px;
}

.review-box{
    border-top: 1px solid gainsboro;
    padding: 20px 0px;
}

.review-submit{
    padding: 5px 50px;
    border-radius: 50px;
    color: #fff;
    background-color: brown;
    margin: 30px 0px 30px 50%;
    width: 50%;
    
}

.progress{
    height: 10px;
    margin-top: 8px
}

.no-review .note{
    background-color: brown;
    color: #fff;
    padding: 8px;
    width: 100%;
    margin: 0px;
}
.yellow-star{
    border: 1px solid #eee;
    color: yellow
}
.your-rate span{
    color: darkgoldenrod;
    margin-left: 50px
}

.checked{
	color: darkgoldenrod
}

.review-box input, .review textarea {
    border-radius: 100px;
}

.nav-pills, .nav-tabs{
    margin-top: 30px;
}
.path{
    padding-left: 0px;
    margin-top: 40px;
}
.path ul{
    padding-left: 0px;
    list-style-type: none;
}
.path li{
    display: inline-block;
}
.path a:link{
    color: #a52a2a;
    text-decoration: none;
}
.path a:hover{
    color: #333;
}
.path a:active{
    color: #a52a2a;
}
.path a:visited{
    color: #a52a2a;
}
.putRate span{
    margin: 2px;
}
.categories img{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    vertical-align: bottom;
    border: 5px solid #a52a2a;
}
.categories [class^="col"] {
    text-align: center;
}
.categories span{
    color: #a52a2a;
    font-weight: 600;
}

a:hover{
    text-decoration: none;
}




@media only screen and (min-width: 768px) {
    
    .review-article{
        width: 70%;
        float: right;
    }
    main::after{
        clear: both;
        display: table;
        content: "";
    }
    .review-box{
    border: 3px solid gainsboro;
    padding: 5px 5px 50px;
    border-radius: 50px
	}
    
}


